<html>
  <body>
    <div>
      <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between bg-default dark:bg-transparent">
        <div class="flex-1 flex justify-between" style="align-items:center; padding: 10px 0px; margin: 0 16px;">
            <div class="flex flex-col justify-start items-start">
              <!-- <div>
                <button mat-button (click)="back()" color="primary" id="back" class="-ml-5">
                  <mat-icon matPrefix svgIcon="heroicons_outline:arrow-narrow-left"></mat-icon>
                  <span class="ml-2 text-primary-500 dark:text-primary-400">Back</span>
                </button>
              </div> -->
              <div class="flex-1 flex" style="align-items: center; display:flex;">
                <div class="text-3xl md:text-4xl font-extrabold">
                  <button mat-icon-button (click)="back()" color="primary" id="back">
                    <mat-icon matPrefix svgIcon="heroicons_outline:celcom-backicon"></mat-icon>
                  </button>
                  Create SR
                </div>
              </div>
            </div>
        </div>
      </div>
      <!-- content -->
      <form [formGroup]="createSrForm">
        <div class="table-section">
          <div class="flex-auto p-6 sm:p-10 rounded-2xl shadow  bg-card" style="margin: 0 16px;">
            <div class="">
              <div class="card ">
                <div class="size1">
                  <div class="textbox-custom">
                    <mat-form-field  floatLabel="always" class="w-100 bg-card">
                      <mat-label>Select Type</mat-label>
                      <mat-select formControlName="selectType" placeholder="Select Type" required>
                        <mat-option *ngFor="let item of selectTypeChoice" [value]="item.value">{{ item.label }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="size2">
                  <div class="textbox-custom">
                    <mat-form-field  floatLabel="always" class="w-100 bg-card">
                      <mat-label>SR Area</mat-label>
                      <mat-select formControlName="srArea" placeholder="Select Area" required>
                        <mat-option *ngFor="let item of srAreaChoice" [value]="item.value">{{ item.label }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="size1">
                  <div class="textbox-custom">
                    <mat-form-field  floatLabel="always" class="w-100 bg-card">
                      <mat-label>Memo Id</mat-label>
                      <mat-select formControlName="memoId" placeholder="Select Memo" required>
                        <mat-option *ngFor="let item of memoIdChoice" [value]="item.value">{{ item.label }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="size2">
                  <div class="textbox-custom">
                    <mat-form-field  floatLabel="always" class="w-100 bg-card">
                      <mat-label>Description</mat-label>
                      <input matInput type="text" placeholder="Description" class="form-control input-content" formControlName="desc" casetransform #input required/>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="flex flex-row justify-end items-center mt-5" id="uploadDocument" style="margin: 0 16px;">
            <button (click)="openFile()" mat-flat-button  mat-flat-button color='celcom-white-alternate' id="upload-document-button" aria-label="Upload Document">
              <!-- <div class="icon-logo"></div> -->
              <!-- <img src="assets/images/logo/attach_icon.svg" style="margin-right: 10px;" width="100%" height="75%" alt="img"> -->
              Upload
            </button>
            <input type="file" id="fileUpload"  (change)="handleFileInput($event.target.files)"  class="invisible w-0">
          </div>

          <div class="table-styling mt-6" id="file_upload">
            <table mat-table [dataSource]="miscUploadedFileData" class="docs-table products-table" matSort fusePerfectScrollbar>
    
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Document Name</th>
                <td mat-cell *matCellDef="let element">{{ element.name || 'N/A' }}</td>
              </ng-container>
    
              <ng-container matColumnDef="size">
                <th mat-header-cell *matHeaderCellDef>Size</th>
                <td mat-cell *matCellDef="let element">{{ element.size || 'N/A' }}</td>
              </ng-container>
    
              <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef>File</th>
                <td mat-cell *matCellDef="let element" style="text-decoration: underline;" >{{ element.type || 'N/A' }}</td>
              </ng-container>
    
              <tr mat-header-row *matHeaderRowDef="miscUploadedFileTableColumn;"></tr>
              <tr mat-row *matRowDef="let row; columns: miscUploadedFileTableColumn;"></tr>
            </table>
          </div>

          <div class="flex flex-row justify-end items-center" style="margin-right: 16px;">
            <!-- <button mat-flat-button color='celcom-white-alternate' class="button-styling" (click)="back()">
              Cancel
            </button> -->
          <button mat-flat-button color='celcom-blue' class="button-styling" (click)="goToNext()" [disabled]="createSrForm.valid && miscUploadedFileData && miscUploadedFileData.length > 0 ? false : true" >
            Continue
          </button>
        </div>
        </div>
      </form>
    </div>
  </body>
</html>