<div class="absolute inset-0 flex flex-col min-w-0 justify-center items-center overflow-hidden" id="submitOrderPage">
    <div class="custom-container rounded-xl msg-box bg-card mat-elevation-z2" id="submit_order_column">
      <div class="flex flex-col" id="submit_order_content">
        <div class="flex justify-center">
          <p class="text-3xl font-bold mb-4" id="orderSuccessMsg">
            Your Order Submitted Successfully 
          </p>
        </div>
        <div class="flex flex-col" id="submit_order_content">
          <div class="tracking-container">
            <p class="text-2xl font-bold mb-4" id="orderSuccessMsg">
              The order number for tracking is
            </p>
            <p class="text-2xl font-bold mb-4 tracking-number" style="color: blue; cursor: pointer;" (click)="navigateOrder()">01-1012201</p>
          </div>
          <div class="flex justify-center">
            <p id="orderNumber" class="custom-title">Expected order completion date is : {{currentDate | date:'dd-MM-yyyy'}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  