<button mat-icon-button (click)="openPanel()" #promotionsOrigin>
    <ng-container>
        <span class="absolute top-0 right-0 left-0 flex items-center justify-center h-3">
            <span
                class="flex items-center justify-center flex-shrink-0 min-w-4 h-4 px-1 ml-4 mt-2.5 rounded-full bg-indigo-600 text-indigo-50 text-xs font-medium">
                {{unreadCount}}
            </span>
        </span>
    </ng-container>
    <svg xmlns="http://www.w3.org/2000/svg" width="19" height="17" viewBox="0 0 19 17">
        <g id="icon2-promotions" transform="translate(0.5 0.5)">
            <g id="Multimedia-_Stroke_" data-name="Multimedia-(Stroke)">
                <g id="_17-multimeda-speaker-megaphone" data-name="17-multimeda-speaker-megaphone"
                    transform="translate(0 0)">
                    <rect id="Layer-1" width="1.821" height="14.454" rx="0.911" transform="translate(16.179)"
                        fill="none" stroke="#64748b" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" />
                    <path id="Layer-2"
                        d="M52,5.828a10.572,10.572,0,0,0,7.635-3.781V15.119A10.689,10.689,0,0,0,52,11.38Z"
                        transform="translate(-43.456 -1.18)" fill="none" stroke="#64748b" stroke-linecap="round"
                        stroke-linejoin="round" stroke-width="1" fill-rule="evenodd" />
                    <rect id="Layer-3" width="7.284" height="6.374" rx="1" transform="translate(1.909 4.062)"
                        fill="none" stroke="#64748b" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" />
                    <path id="Layer-4" d="M1.909,29.581H.954A.954.954,0,0,1,0,28.626V25.955A.955.955,0,0,1,.954,25h.954"
                        transform="translate(0 -19.811)" fill="none" stroke="#64748b" stroke-linecap="round"
                        stroke-linejoin="round" stroke-width="1" fill-rule="evenodd" />
                    <path id="Layer-5" d="M20.5,28h4.39" transform="translate(-17.297 -22.225)" fill="none"
                        stroke="#64748b" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"
                        fill-rule="evenodd" />
                    <path id="Layer-6"
                        d="M20.29,55H18v4.963a.763.763,0,0,0,.763.763h1.991a.575.575,0,0,0,.405-.954s-.868-1.027-.868-1.37Z"
                        transform="translate(-14.269 -44.726)" fill="none" stroke="#64748b" stroke-linecap="round"
                        stroke-linejoin="round" stroke-width="1" fill-rule="evenodd" />
                </g>
            </g>
        </g>
    </svg>
</button>

<!-- Promotions panel -->
<ng-template #promotionsPanel>

    <div
        class="fixed inset-0 sm:static sm:inset-auto flex flex-col sm:min-w-90 sm:w-90 sm:rounded-2xl overflow-hidden shadow-lg">

        <!-- Header -->
        <div class="flex flex-shrink-0 items-center py-4 pr-4 pl-6 bg-primary text-on-primary">
            <div class="sm:hidden -ml-1 mr-3">
                <button mat-icon-button (click)="closePanel()">
                    <mat-icon class="icon-size-5 text-current" [svgIcon]="'heroicons_solid:x'"></mat-icon>
                </button>
            </div>
            <div class="text-lg font-medium leading-10">Promotions</div>
        </div>

        <!-- Content -->
        <div class="relative p-1.5 sm:max-h-120 divide-y overflow-y-auto bg-card">
            <!-- Promotions -->

            <div *ngIf="promotionsData != null">

                <ng-container *ngFor="let promotion of promotionsData.responseObject">
                    <div class="flex group hover:bg-gray-50 dark:hover:bg-black dark:hover:bg-opacity-5 py-2">
                        <div class="flex">
                            <ng-container *ngTemplateOutlet="promotionContent"></ng-container>
                        </div>
                    </div>

            
                    <ng-template #promotionContent>
                        <ng-container>
                            <div
                                class="rounded-full bg-primary-50 text-primary-700 dark:bg-primary dark:text-on-primary h-10 w-10 mr-6 mt-1 ">
                                <mat-icon class="icon-size-10  text-current"
                                    svgIcon="mat_outline:star_border_purple500">
                                </mat-icon>
                            </div>
                        </ng-container>
                       
                        <div class="flex flex-col flex-auto">
                            <button mat-menu-item class="cursor-pointer" (click)="onClickPromotion(promotion)">
                                <ng-container *ngIf="promotion.name">
                                    <div class="font-semibold line-clamp-1 mt-2" [innerHTML]="promotion.name">
                                    </div>
                                </ng-container>
                            </button>
                        </div>
                    </ng-template>
                </ng-container>
            </div>

            <!-- No promotions -->
            <ng-container
                *ngIf="!promotionsData || !promotionsData.responseObject || !promotionsData.responseObject.length">
                <div class="flex flex-col flex-auto items-center justify-center sm:justify-start py-12 px-8">
                    <div class="flex flex-0 items-center justify-center w-14 h-14 rounded-full bg-primary-100">
                        <mat-icon class="text-primary-500-700" [svgIcon]="'heroicons_outline:inbox'"></mat-icon>
                    </div>
                    <div class="mt-5 text-2xl font-semibold tracking-tight">No promotions</div>
                    <div class="w-full max-w-60 mt-1 text-md text-center text-secondary">When you have promotions, they
                        will appear here.</div>
                </div>
            </ng-container>
        </div>
    </div>
</ng-template>